modules = ["nix", "bash"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
packages = ["gh"]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run dinghy"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run dilbert"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run poland"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run bao bao"

[[workflows.workflow]]
name = "Run dinghy"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make run-dinghy"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Run dilbert"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make run-dilbert"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Run poland"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make run-poland"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Run bao bao"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "make run-bao"

[workflows.workflow.metadata]
outputType = "console"
